extends layout

block header
  .row
    span.span4
  
block content
  .row
    span.span8
      form(action="/save-printer", method="get")
        select(name="printerID")
          for printer in printers.printers
            if printer.type == 'GOOGLE'
              option(value="#{printer.id}")= printer.displayName
        input(type="submit", value="Add printer")

