extends layout

block header
  .row
    a.span4.offset4.middle(href="/")
      h4 Print-A-Gram
      small Connect your printer to Instagram.
  
block content
  .row
    .span10.offset1.cloud
  .row
    .span4.offset4.rounded
      .span.bar
    .span4.offset4.rainbow
      .span1.border
        .overlay
        .color.red
          .moving
      .span1.border
        .overlay
        .color.yellow
          .moving
      .span1.border
        .overlay
        .color.green
          .moving
      .span1.border
        .overlay
        .color.blue
          .moving
  .row
    .span12.pic
  .row(style="position:relative;")
    .span4
      .insta-overlay
      .insta-overlay.hide

  .row.instruction-wrap
    .span4.instructions
      span.number 1
      p Connect your Google Cloud Ready printer and your Instagram account to Print-A-Gram.
    .span4.instructions
      span.number 2
      p Snap that shit! Make sure it's a cat. Get your like-fix on and enjoy yourself.
    .span4.instructions
      span.number 3
      p Have it printed and waiting for you in polaroids by the time you get home.

  .row
    a.span6.offset3.sign-up(href="/google-auth")
      .row.button
        .span4.offset1
          h4 Connect to Print-A-Gram

block footer
  .row
    .span4
      h4 Latest Print-A-Grams
  .row
    .span4.latest
      img(src="/img/insta-1.jpg")
      span.block
      span.small-block
    .span4.latest
      img(src="/img/insta-1.jpg")
      span.block
      span.small-block
    .span4.latest
      img(src="/img/insta-1.jpg")
      span.block
      span.small-block

