extends layout

block header
  .row
    span.span4
      h1= title
  
block content
  .row
    span.span8
      a(href="/auth") Connect to instagram

  .row
    span.span8
      a(href="/google-auth") Connect to google

    br
    br

    form(name="input", action="create-push", method="post")
      input(type="text", name="hash_tag")
      input(type="submit")


