@import url('http://fonts.googleapis.com/css?family=Bitter')

red = #FF4057
yellow = #FFF540
green = #78C130
blue = #3DB5F2
dark = #333333
light = #fffbe5

body
  background: light
  font-family: 'Bitter', serif
  font-size: 1em

a
  color: dark
  -webkit-transition: all .2s linear
  &:hover
    text-decoration: none
    color: blue

#loading
  opacity: 0
  pointer-events: none
  -webkit-transition: .1s linear all

.main
  opacity: 1
  -webkit-transition: opacity .1s ease-in

.fadeout
  opacity: 0

.middle
  padding: 50px 0 0
  margin-bottom: -5px 
  text-align: center
  small
    font-size: 0.8em
    opacity: 0.8
    margin-top: -5px
    display: block

.cloud
  background: url('../img/cloud.png') center center no-repeat
  height: 500px
  background-size: 650px auto
  h4
    text-align: center
    margin-top: 180px
    padding: 100px
    -webkit-animation: pulse 1.8s linear infinite
    &:hover
      -webkit-animation: none

.get-started
  position: relative
  top: -250px
  text-align: center

.pic
  height: 360px
  margin-top: 15px
  background: url('../img/cloudagram_03.png') 0px 0 no-repeat
  background-size: 995px auto
  margin-left: 0
  padding: 0 40px 0 0
  z-index: 3
  position: relative

.insta-overlay
  z-index: 1
  position: absolute
  top: -455px
  height: 370px
  width: 370px
  left: 310px
  -webkit-transform: perspective(510px) rotateX(70deg)
  opacity: 0.8
  background: url('../img/insta-1.jpg') #fff center center no-repeat
  background-size: cover

.hide
  opacity: 0
  display: block
  background: #fff
  -webkit-transition: all .1s linear

.icon
  height: 170px
  display: block
  background: url('../img/sprite-top.png') no-repeat
  background-size: auto 150px

.instagram
  background-position: -50px 0

.plus
  background-position: -180px 30px
  background-size: auto 100px

.printer
  background-position: -560px -5px

.rainbow
  height: 600px
  margin-top: -140px
  z-index: 2
  margin-left: 345px



.big-title
  color: #fff
  position: absolute
  text-align: center
  font-size: 5em
  top: 530px
  text-shadow: 
    -3px -3px dark,
    3px -3px dark,
    -3px 3px dark,
    3px 3px dark

.border
  border: 15px solid dark
  height: 100%
  margin-right: -5px
  border-radius: 10px 10px 0 0
  margin-left: -10px
  position: relative

.rounded
  margin-top: -140px
.bar
  height: 20px 
  border-radius: 20px
  background: dark
  width: 115%
  margin-left: -20px

.color
  margin-top: -5px
  height: 610px
  border-radius: 5px 5px 0 0
  overflow: hidden

.overlay
  width: 60px
  height: 30px
  position: absolute
  margin-top: -5px
  border-radius: 5px 5px 0 0
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.4)), to(rgba(255,255,255,0)))

.underlay
  width: 60px
  height: 40px
  position: absolute
  bottom: -5px

.moving
  width: 100%

.red
  background: red

.yellow
  background: yellow

.green
  background: green

.blue
  background: blue

.instruction-wrap
  margin-top: 50px


.instructions
  text-align: center
  p
    width: 75%
    text-align: left
    margin: 50px auto
.number
  text-align: center
  font-size: 48px
  color: white
  border-radius: 50px
  background: red
  padding: 18px 34px

.button
  text-align: center


.sign-up
  color: #fff
  background: blue
  margin-top: 20px
  margin-bottom: 100px
  border-radius: 20px
  padding: 40px 0
  h4
    font-weight: lighter
  &:hover
    color: dark


.latest
  border: 15px solid dark
  height: 350px
  background: #fff
  box-sizing: border-box
  margin-bottom: 100px
  padding: 20px
  img
    border: 15px solid dark
    box-sizing: border-box

.block, .small-block
  display: block
  width: 100px
  height: 15px
  background: dark
  margin-top: 10px

.small-block
  width: 70px

.printer-wrap
  text-align: center
  margin-top: 30px

.instagram-icon
  height: 180px
  background: url('../img/sprite-top.png') -50px center no-repeat
  text-align: center
  display: inline-block

.printer-icon
  height: 220px
  width: 180px
  background: #fff url('../img/sprite-top.png') -540px 35px no-repeat
  border-radius: 10px
  border: 5px solid dark
  text-align: center
  margin-right: 20px
  display: inline-block
  margin-bottom: 30px
  &:hover
    cursor: pointer
  &:hover .check
    background: green
  &:last-child
    margin-right: 0
  .check
    height: 20px
    width: 20px
    background: light
    display: block
    border-radius: 20px
    border: 3px solid dark
    margin: 10px auto 155px
    -webkit-transition: all .1s ease-in

.active .check
  background: green

.paper-wrap
 margin-left: 10px
 margin-top: 30px
 margin-bottom: 30px

.paper
  height: 200px
  position: relative
  text-align: center
  div
    border: 5px solid dark
    box-sizing: border-box
    position: absolute
    box-sizing: border-box
    width: auto
    bottom: 0px
    background-color: transparent
    -webkit-transition: background-color .2s ease-in
  .a4
    height: 100%
    width: 100%
    padding-top: 50px
    font-size: 2em
  .a5
    height: 80%
    width: 80%
    margin-left: 30px
    padding-top: 45px
    font-size: 1.8em
  .a6
    height: 60%
    width: 60%
    margin-left: 20px
    padding-top: 30px
    font-size: 1.6em
  .a7
    height: 40%
    width: 40%
    margin-left: -20px
    padding-top: 20px
    font-size: 1.4em
  &:hover div
    background-color: #fff
    cursor: pointer
  .selected
    background-color: #fff


@-webkit-keyframes move
  from
    margin-top: -5000px
  to
    margin-top: 2000px

rotate(deg)
  -webkit-transform: rotateY(deg)

@-webkit-keyframes pulse
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0