@import url("http://fonts.googleapis.com/css?family=Bitter");
body {
  background: #fffbe5;
  font-family: 'Bitter', serif;
  font-size: 1em;
}
a {
  color: #333;
  -webkit-transition: all 0.2s linear;
}
a:hover {
  text-decoration: none;
  color: #3db5f2;
}
.middle {
  padding: 50px 0 0;
  margin-bottom: -5px;
  text-align: center;
}
.middle small {
  font-size: 0.8em;
  opacity: 0.8;
  margin-top: -5px;
  display: block;
}
.cloud {
  background: url("../img/cloud.png") center center no-repeat;
  height: 500px;
  background-size: 650px auto;
}
.cloud h4 {
  text-align: center;
  margin-top: 180px;
  padding: 100px;
  -webkit-animation: pulse 1.8s linear infinite;
}
.cloud h4:hover {
  -webkit-animation: none;
}
.get-started {
  position: relative;
  top: -250px;
  text-align: center;
}
.pic {
  height: 360px;
  margin-top: 15px;
  background: url("../img/cloudagram_03.png") 0px 0 no-repeat;
  background-size: 995px auto;
  margin-left: 0;
  padding: 0 40px 0 0;
  z-index: 3;
  position: relative;
}
.insta-overlay {
  z-index: 1;
  position: absolute;
  top: -455px;
  height: 370px;
  width: 370px;
  left: 310px;
  -webkit-transform: perspective(510px) rotateX(70deg);
  opacity: 0.8;
  background: url("../img/insta-1.jpg") #fff center center no-repeat;
  background-size: cover;
}
.hide {
  opacity: 0;
  display: block;
  background: #fff;
  -webkit-transition: all 0.1s linear;
}
.icon {
  height: 170px;
  display: block;
  background: url("../img/sprite-top.png") no-repeat;
  background-size: auto 150px;
}
.instagram {
  background-position: -50px 0;
}
.plus {
  background-position: -180px 30px;
  background-size: auto 100px;
}
.printer {
  background-position: -560px -5px;
}
.rainbow {
  height: 600px;
  margin-top: -140px;
  z-index: 2;
  margin-left: 345px;
}
.big-title {
  color: #fff;
  position: absolute;
  text-align: center;
  font-size: 5em;
  top: 530px;
  text-shadow: -3px -3px #333, 3px -3px #333, -3px 3px #333, 3px 3px #333;
}
.border {
  border: 15px solid #333;
  height: 100%;
  margin-right: -5px;
  border-radius: 10px 10px 0 0;
  margin-left: -10px;
  position: relative;
}
.rounded {
  margin-top: -140px;
}
.bar {
  height: 20px;
  border-radius: 20px;
  background: #333;
  width: 115%;
  margin-left: -20px;
}
.color {
  margin-top: -5px;
  height: 610px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.overlay {
  width: 60px;
  height: 30px;
  position: absolute;
  margin-top: -5px;
  border-radius: 5px 5px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.40)), to(rgba(255,255,255,0.00)));
}
.underlay {
  width: 60px;
  height: 40px;
  position: absolute;
  bottom: -5px;
}
.moving {
  width: 100%;
}
.red {
  background: #ff4057;
}
.yellow {
  background: #fff540;
}
.green {
  background: #78c130;
}
.blue {
  background: #3db5f2;
}
.instruction-wrap {
  margin-top: 50px;
}
.instructions {
  text-align: center;
}
.instructions p {
  width: 75%;
  text-align: left;
  margin: 50px auto;
}
.number {
  text-align: center;
  font-size: 48px;
  color: #fff;
  border-radius: 50px;
  background: #ff4057;
  padding: 18px 34px;
}
.button {
  text-align: center;
}
.sign-up {
  color: #fff;
  background: #3db5f2;
  margin-top: 20px;
  margin-bottom: 100px;
  border-radius: 20px;
  padding: 40px 0;
}
.sign-up h4 {
  font-weight: lighter;
}
.sign-up:hover {
  color: #333;
}
.latest {
  border: 15px solid #333;
  height: 350px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 100px;
  padding: 20px;
}
.latest img {
  border: 15px solid #333;
  box-sizing: border-box;
}
.block,
.small-block {
  display: block;
  width: 100px;
  height: 15px;
  background: #333;
  margin-top: 10px;
}
.small-block {
  width: 70px;
}
@-webkit-keyframes move {
  0% {
    margin-top: -5000px;
  }

  100% {
    margin-top: 2000px;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
