.row
  .span10.offset1.middle
    h1 Connect your Instagram Account.
    h5 
      a(href="http://instagram.com") (or click here to get one)
.row
  .span2.offset5.instagram-icon
.row
  .span4.offset4
    a.btn.btn-large.btn-info.btn-block(href="/auth") Connect to instagram